<div *ngIf="account.id !== 0 && account !== null ">
    <div>
        <app-navbar></app-navbar>
    </div>
</div>
<div>
    <div class="card mb-3" style="width: 18rem;" *ngIf="account.id !== 0 && account !== null " >
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/john.jpeg" class="img-fluid rounded-start" alt={{account.userName}}>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">{{account.userName}}</h2>
                    <h6 class="card-subtitle mb-2 text-muted">{{account.email}}</h6>
                    <p class="card-text"><b>Balance: </b> {{account.balance | currency:'E£'}}</p>
                    <svg *ngIf="account.isActive; else inActive" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#04AA6D" class="bi bi-toggle-on" viewBox="0 0 16 16">
                        <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                    </svg>
                    <ng-template #inActive>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="Red" class="bi bi-toggle-off" viewBox="0 0 16 16">
                            <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
                        </svg>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div>
        <app-account-transaction></app-account-transaction>
    </div>
</div>
