<form>
    <div class="mb-3">
        <label for="AccountName" class="form-label">AccountName</label>
        <input type="text" class="form-control" id="accountName">
    </div>
    <div class="mb-3">
        <label for="AccountEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="accountEmail">
    </div>
    <div class="mb-3">
        <label for="inputAmount" class="form-label">Amount</label>
        <input type="number" class="form-control" id="accountAmount">
    </div>
    <div class="mb-5">
        <label for="inputCategory" class="form-label">Type</label>
        <select id="inputCategory" class="form-select">
            <option selected>Choose...</option>
            <option>Normal</option>
            <option>VIP</option>
        </select>
    </div>    
    <button type="submit" class="btn btn-primary">Add Account</button>
</form> 