<div class="table-title">
    <div class="row d-flex align-items-center">
        <div class="col-4">
            <h4>All Accounts</h4>
        </div>
        <div class="col-8">
            <div class="row row-update">
                <div class="col-5 d-flex justify-content-between align-items-center">
                    <label for="statusFilter" class="update-label">Status Filter:</label>
                    <select class="form-select form-select-sm mb-4 update-select" id="statusFilter"
                        aria-label=".form-select-sm example" 
                        (change)="onChange($event)" aria-placeholder="Status">
                        <option value="all" selected>all</option>
                        <option value="active">active</option>
                        <option value="not active">not active</option>
                    </select>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-outline-success mt-2" routerLink = "/add-account">
                        Add Account
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table table-hover ">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">AccountName</th>
            <th scope="col">Balance</th>
            <th scope="col">Created At</th>
            <th scope="col">Last transaction date</th>
            <th scope="col">Status</th>
            <th scope="col">Type</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let account of accountsFilter">
            <th scope="row">{{account.id}}</th>
            <td>{{account.accountName}}</td>
            <td>{{account.balance}}</td>
            <td>{{account.createdAt}}</td>
            <td>{{account.lastTransactionDate}}</td>
            <td>
                <span [ngClass]="{'badge': account.status === 'active',
                                    'badge-warn': account.status === 'not active'}">
                    {{account.status}}
                </span>
            </td>
            <td>{{account.type}}</td>
            <td>
                <button type="button" class="btn btn-outline-primary" 
                    [routerLink]="['/transactions', account.id]">
                    View Details
                </button>
            </td>
        </tr>
    </tbody>
</table>