<div class="table-title" *ngIf="accountTransactionList.length !== 0 && accountTransactionList !== undefined">

  <div class="row">
    <div class="col-6">
      <h4>All Transactions</h4>
    </div>
    <div class="col-10">
      <div class="row row-update">
        <div class="col-3">
          <select class="form-select form-select-sm mb-4" aria-label=".form-select-sm example" [(ngModel)]="typeValue">
            <option value='' selected>Filter By</option>
            <optgroup label="Type">
              <option value="DEPOSIT">DEPOSIT</option>
              <option value="WITHDRAWAL">WITHDRAWAL</option>
            </optgroup>
            <optgroup label="Status">
              <option value="SUCCESS">SUCCESS</option>
              <option value="FAILED">FAILED</option>
            </optgroup>
          </select>

        </div>
        <div class="col-7 form-group mb-4">
          <div class="col-sm-6 d-flex justify-content-between">
            <b>From:</b><input type="text" placeholder="YYYY-MM-DD" [(ngModel)]="dateFrom">
            <b>To:</b><input type="text" placeholder="YYYY-MM-DD" [(ngModel)]="dateTo">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<table class="table table-hover" *ngIf="accountTransactionList.length !== 0 && accountTransactionList !== undefined">
  
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Transaction ID</th>
      <th scope="col">Type</th>
      <th scope="col">Amount</th>
      <th scope="col">Balance Before</th>
      <th scope="col">Balance After</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let transaction of accountTransactionList | filterByDate: dateFrom: dateTo; let i = index ">
      <tr *ngIf=" typeValue === '' ||(transaction.type === 'DEPOSIT' && typeValue ==='DEPOSIT') 
        || (transaction.type === 'WITHDRAWAL' && typeValue ==='WITHDRAWAL')
        || (transaction.status === 'SUCCESS' && typeValue ==='SUCCESS')
        || (transaction.status === 'FAILED' && typeValue ==='FAILED')
        ">
        <td scope="row"><b>{{i + 1}}</b></td>
        <td>{{transaction.id}}</td>

        <td *ngIf="transaction.type === 'DEPOSIT';else withdraw;"> Deposit </td>
        <ng-template #withdraw>
          <td>Withdraw</td>
        </ng-template>
        <td>{{transaction.amount | currency}}</td>
        <td>{{transaction.balanceBefore | currency }}</td>
        <td>{{transaction.balanceAfter | currency}}</td>
        <td>{{transaction.date | date:'short'}}</td>
        <td>
          <span [ngStyle]="{color: transaction.status ===  'SUCCESS'? 'green': 'red'}">
            {{transaction.status}}
          </span>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>