<!-- <table class="table table-striped" *ngFor="let transaction of accountTransactionList; index as i"> -->
  <div class="table-title" >  
    <!-- *ngIf="accountTransactionList.length !== 0 && accountTransactionList !== undefined" -->
    <div class="row">
        <div class="col-6">
            <h4>All Transactions</h4>
        </div>
        <div class="col-10">
            <div class="row row-update">
                <div class="col-3">
                    <select class="form-select form-select-sm mb-4" aria-label=".form-select-sm example" [(ngModel)]="typeValue" >
                        <option value = ''selected>Filter By</option>
                        <optgroup label="Type">
                          <option value="Credit" >Credit</option>
                          <option value="Depit">Depit</option>
                        </optgroup>
                        <!-- <option value="Date">Date</option> -->
                    </select>
                    
                </div>
                <div class="col-7 form-group mb-4">
                  <div class="col-sm-6 d-flex justify-content-between">
                  <b>From:</b><input type="text" placeholder="YYYY-MM-DD" [(ngModel)]="dateFrom" >
                  <b>To:</b><input type="text" placeholder="YYYY-MM-DD" [(ngModel)]="dateTo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <table class="table table-hover" *ngIf="accountTransactionList.length !== 0 && accountTransactionList !== undefined"  >
    <!-- -->
    <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Transaction ID</th>
          <th scope="col">Type</th>
          <th scope="col">Amount</th>
          <th scope="col">Balance Before</th>
          <th scope="col">Balance After</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let transaction of accountTransactionList; let i = index ">
          <tr >
            <!--*ngIf=" typeValue ==='' ||(transaction.type === 0 && typeValue ==='Credit') || (transaction.type === 1 && typeValue ==='Depit')"-->
            <td scope="row"><b>{{i + 1}}</b></td>
            <td>{{transaction.id}}</td>
            <td>{{transaction.title}}</td>
            <!-- <td *ngIf="transaction.type === 1;else credit"> Depit </td>
            <ng-template #credit>
              <td>Credit</td>
            </ng-template>
            <td>{{transaction.amount | currency:'E£'}}</td>
            <td>{{transaction.balanceBefore | currency:'E£' }}</td>
            <td>{{transaction.balanceAfter | currency:'E£'}}</td>
            <td>{{transaction.date | date}}</td> -->
         </tr>
      </ng-container>
</tbody>
</table>
<!--| filterByType: typeValue | filterByDate: dateFrom: dateTo;-->
